<html>
  <head>
    {% include "components/default/admin-panel-header.html.twig" %}
    <script type="text/javascript" src="{{site.uri.public}}/mywebsite/js/get_imsi.js"></script>
  </head>

  <body>
      <!-- Include the Admin Panel Navigation bar-->
      {% include "components/default/admin-panel-nav-bar.html.twig" %}
      <br><br>
      <form class="col s12" id="inputForm" name="inputForm" method="POST" onsubmit="">
        <div  class="row container">
          <div id="select" class="input-field col s3 offset-s3">
            <input id="imsi" type="text" class="time">
            <label for="imsi">IMSI</label>
            </div>
          <div class="input-field col s3">
            <input id="msisdn" type="text" class="time" maxlength="10" value="65">
            <label for="msisdn">MSISDN</label>
            </div>
            
          </div>

          <div class="row container"> 
            <div class="center">
              <button class="btn-large waves-effect waves-light" type="submit" name="action">Search</button>
            </div>                  
          </div>
        </form>
      <div class="row container">
        <div class="col s12">
          <div class="card-panel white col s4 offset-s1">
            <span class="black-text"><h5>MSISDN <br><br><div id="msisdnToimsiResult"></div></h5>
            </span>
          </div>
          <div class="card-panel white col s4 offset-s2">
            <span class="black-text"><h5>IMSI <br><br><div id="imsiTomsisdnResult"></div></h5>
          </div> 
        </div>
      </div>
    </body>
  </html>


